body { 
    font-family: cursive; 
    font-size: large;
}

h1 {
    font-size: 50px;
}

#navb {
    background: black;
}

.my-4 {
    background: black;
}

.jumbotron {
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    background: black;
    color: whitesmoke;
    width: 100%;
    margin-bottom: 0;
    height: 30px;
    text-align: center;
}