/* <-- About me --> */
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    background: url(../images/hotel-wallpaper.png);
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    height: 61px;
    padding-top: 1.5%;
}

.wrapper {
    width: 88%;
    margin: 0;
}

#name {
     float: left;
     padding: 22px;
     margin-left: 12%;
     margin-top: 3px;
     background-color: lightblue;
     color: white;
     font-weight: bold;
     font-family:Georgia, 'Times New Roman', Times, serif;
     font-size: 15px;
     margin-left: 22.5%;    
}

nav {
     float: right;
     padding-right: 22%;
     padding-top: 2%;
 }

.bio {
     /* border-right: 1px solid #f0f0f0; */
     margin: 5px;
 }

section {
    width: 50%;
    overflow: auto;
    background-color: lightblue;
    margin-left: 20%;
    margin-top: 2%;
}

#about {
    padding: 30px 30px 20px 30px;
    widows: 900px;
    margin-left: 350px;
    margin-right: 350px;
}
h1 {
    border-bottom: 2px solid black;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    width: 91%;
    margin: 3%;
    margin-left: 4%;
}

.about {
    text-align: justify;
    
}

#profile {
    float:left;
    padding: 4%;
    width: 14%;
    padding-top: 0;
    padding-left: 5%;
    padding-bottom: 0;
}

p,
.paragraph3 {
    padding: 5%;
    padding-top: 0;
    line-height: 20px;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background: black;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
    padding: 10px 0;
    margin-top: 2%;
    width: 100%;
}

/* <-- end of about me --> */
/* <-- Contact --> */

input {
    width: 95%;
    margin-bottom: 1%;
    margin-left: 0; 
    height: 30px;
}
#submit {
    background: silver;
    width: 15%;
}
textarea {
    height:200px;
    width: 95%;
}

form {
    margin-left: 4%;
}
h5 {
    background-color: teal;
    margin-left: -33%;
    margin-right: -27%;
    margin-top: 30%;
    margin-bottom: -10%;
    text-align: center;
    height: 25px;
}

/* <-- End of contact --> */
/* <-- Portfolio --> */

a {
    position: relative;
    /* border: 1px solid #dddddd; */
    margin: 3%;
    margin-left: 45px;
    /* padding: 0; */
    /* overflow: auto; */
    float: left;
}
a:link {
    text-decoration: none;
}
.portfolio p {
    position: absolute;
    width: 100%;
    bottom: 10%;
    text-align: center;
    background-color: #4aaaa5;
    padding: 10px 0px 10px 0px;
    color: white;
}
/* <-- End of Portfolio --> */